
{% block sidebar %}
<h2>Sidebar</h2>
<ul class="list-inline">
<li><a href="{{ url('homepage')}}">Home</a></li>
<li><a href="{{ url('recipes_list') }}">Recetas</a></li>
<li><a href="{{ url('authors_list') }}">Autores</a></li>
<li><a href="{{ url('ingredients_list') }}">Ingredientes</a></li>
</ul>
{% endblock %}