{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
    
        <div id="container">
        {% trans %}default.homepage.introduction{% endtrans %}
        </div>
        
    </div>
{% endblock %}
