{% extends 'base.html.twig' %}

{% block sub_sidebar %}
<div id="submenu">

	<a href="{{ url('author_create') }}">{% trans %}Crear Nuevo{% endtrans %}</a>

</div>
{% endblock %}

{% block title %}Listado de autores{% endblock %}

{% block body %}
<ul>
{% for author in authors %}

<li>
{{ author.NombreApellidos }} [<a href="{{ url('author_modify', { 'id': author.id }) }}">{% trans %}Modificar{% endtrans %}</a>]
</li>

{% endfor %}
</ul>
{% endblock %}