{% extends 'base.html.twig' %}

{% block title %}Listado de autores{% endblock %}

{% block body %}
<ul>
{% for author in authors %}

<li>{{ author.name }} {{ author.surname }}</li>

{% endfor %}
</ul>
{% endblock %}