
{% block sidebar %}
<h2>Menú de gestión de usuarios</h2>
<ul class="list-inline">
<li><a href="{{ url('homepage')}}">Home Principal</a></li>
<li><a href="{{ url('usuarios_list') }}">Listado de usuarios</a></li>

</ul>

{% endblock %}